/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Apr 27, 2022, 8:33:40 AM
    Author     : medha499
*/


/*.button{
  height: 200px;
  position: relative;
  left: 45%;
}*/

